openapi: 3.1.1
info:
  title: BitHosting Control Plane API
  version: 0.1.0
  summary: Contract-first API for bithosting.cloud (bhc-api)
  description: >
    OpenAPI 3.1 contract for the BitHosting control plane. The spec is the
    source of truth: bhc-api CI fails when routes drift from this document in
    either direction. M0 covers authentication (customer + admin, TOTP) and
    admin settings. Errors follow RFC 9457 application/problem+json with a
    stable `code` member.
  contact:
    name: Octobyte / Memoire Development E.E.
servers:
  - url: https://api.bithosting.cloud/api/v1
    description: Production
tags:
  - name: catalog
    description: Public catalog (pricing pages, checkout)
  - name: auth
    description: Customer authentication (portal SPA, session cookies)
  - name: accounts
    description: Customer accounts, tax profile, VIES
  - name: orders
    description: Checkout orders, proformas, payment
  - name: admin-auth
    description: Admin authentication — TOTP is mandatory
  - name: admin-settings
    description: Runtime settings (registry-gated, audited)
  - name: admin-catalog
    description: Catalog management (products, plans, addons, coupons — audited)
  - name: services
    description: Customer services — read + SSO only in v1 (M3)
  - name: notifications
    description: Notification center + preferences (M5-B, consumer of typed events)
  - name: billing
    description: Billing read surface — documents, methods, credit ledger (M5-B)
  - name: status
    description: Public status surface (M6) — unauthenticated, aggressively cached
  - name: domains
    description: Domains & DNS — zone status, propagation, guarded record editor (M4, §8)
  - name: admin-infra
    description: Servers, provisioning monitor, reconciliation (M3 — audited)
  - name: nodes
    description: Golden-node self-registration over WireGuard (spec §16)
  - name: requests
    description: Migration wizard + concierge domain registrations — one queue (M8)
  - name: admin-ops
    description: Admin v1 (§14) — dashboard, accounts, orders/fraud, services, billing, monitoring, queue, broadcasts, audit (M8; admin hostname only, ADR-0004)
security:
  - cookieAuth: []
paths:
  /catalog:
    $ref: './paths/catalog.yaml#/catalog'
  /auth/register:
    $ref: './paths/auth.yaml#/register'
  /auth/forgot-password:
    $ref: './paths/auth.yaml#/forgotPassword'
  /auth/reset-password:
    $ref: './paths/auth.yaml#/resetPassword'
  /auth/invites/accept:
    $ref: './paths/auth.yaml#/invitesAccept'
  /auth/login:
    $ref: './paths/auth.yaml#/login'
  /auth/login/challenge:
    $ref: './paths/auth.yaml#/loginChallenge'
  /auth/logout:
    $ref: './paths/auth.yaml#/logout'
  /auth/me:
    $ref: './paths/auth.yaml#/me'
  /auth/totp/setup:
    $ref: './paths/auth.yaml#/totpSetup'
  /auth/totp/confirm:
    $ref: './paths/auth.yaml#/totpConfirm'
  /auth/totp:
    $ref: './paths/auth.yaml#/totp'
  /auth/totp/recovery-codes:
    $ref: './paths/auth.yaml#/totpRecoveryCodes'
  /accounts:
    $ref: './paths/accounts.yaml#/index'
  /accounts/{accountId}:
    $ref: './paths/accounts.yaml#/show'
  /vies/check:
    $ref: './paths/accounts.yaml#/viesCheck'
  /accounts/{accountId}/members:
    $ref: './paths/accounts.yaml#/members'
  /accounts/{accountId}/members/{memberId}:
    $ref: './paths/accounts.yaml#/membersKey'
  /accounts/{accountId}/invites:
    $ref: './paths/accounts.yaml#/invites'
  /accounts/{accountId}/invites/{inviteId}:
    $ref: './paths/accounts.yaml#/invitesKey'
  /orders:
    $ref: './paths/orders.yaml#/orders'
  /orders/{orderId}:
    $ref: './paths/orders.yaml#/ordersKey'
  /orders/{orderId}/cancel:
    $ref: './paths/orders.yaml#/ordersCancel'
  /orders/{orderId}/checkout:
    $ref: './paths/orders.yaml#/ordersCheckout'
  /orders/{orderId}/checkout/confirm:
    $ref: './paths/orders.yaml#/ordersCheckoutConfirm'
  /webhooks/payments/{provider}:
    $ref: './paths/orders.yaml#/paymentWebhook'
  /services:
    $ref: './paths/services.yaml#/services'
  /services/{serviceId}:
    $ref: './paths/services.yaml#/servicesKey'
  /services/{serviceId}/sso:
    $ref: './paths/services.yaml#/servicesSso'
  /services/{serviceId}/change-plan:
    $ref: './paths/plan-changes.yaml#/changePlan'
  /services/{serviceId}/change-plan/preview:
    $ref: './paths/plan-changes.yaml#/changePlanPreview'
  /services/{serviceId}/change-plan/cancel:
    $ref: './paths/plan-changes.yaml#/changePlanCancel'
  /services/{serviceId}/addons:
    $ref: './paths/plan-changes.yaml#/serviceAddons'
  /services/{serviceId}/usage:
    $ref: './paths/services.yaml#/servicesUsage'
  /services/{serviceId}/cancel:
    $ref: './paths/services.yaml#/servicesCancel'
  /services/{serviceId}/uncancel:
    $ref: './paths/services.yaml#/servicesUncancel'
  /services/{serviceId}/uptime:
    $ref: './paths/services.yaml#/servicesUptime'
  /services/{serviceId}/response-times:
    $ref: './paths/services.yaml#/servicesResponseTimes'
  /services/{serviceId}/power:
    $ref: './paths/services.yaml#/servicesPower'
  /services/{serviceId}/rebuild:
    $ref: './paths/services.yaml#/servicesRebuild'
  /services/{serviceId}/metrics:
    $ref: './paths/services.yaml#/servicesMetrics'
  /services/{serviceId}/wordpress:
    $ref: './paths/services.yaml#/servicesWordpress'
  /status:
    $ref: './paths/status.yaml#/status'
  /status/history:
    $ref: './paths/status.yaml#/statusHistory'
  /status/subscribe:
    $ref: './paths/status.yaml#/statusSubscribe'
  /status/confirm:
    $ref: './paths/status.yaml#/statusConfirm'
  /status/unsubscribe:
    $ref: './paths/status.yaml#/statusUnsubscribe'
  /notifications:
    $ref: './paths/notifications.yaml#/notifications'
  /notifications/read-all:
    $ref: './paths/notifications.yaml#/notificationsReadAll'
  /notifications/{notificationId}/read:
    $ref: './paths/notifications.yaml#/notificationsRead'
  /notification-preferences:
    $ref: './paths/notifications.yaml#/notificationPreferences'
  /auth/sessions:
    $ref: './paths/sessions.yaml#/sessions'
  /auth/sessions/{sessionDeviceId}:
    $ref: './paths/sessions.yaml#/sessionsKey'
  /auth/password:
    $ref: './paths/sessions.yaml#/password'
  /invoices:
    $ref: './paths/billing.yaml#/invoices'
  /invoices/{invoiceId}:
    $ref: './paths/billing.yaml#/invoicesKey'
  /invoices/{invoiceId}/pdf:
    $ref: './paths/billing.yaml#/invoicesPdf'
  /payment-methods:
    $ref: './paths/billing.yaml#/paymentMethods'
  /payment-methods/{paymentMethodId}:
    $ref: './paths/billing.yaml#/paymentMethodsKey'
  /payment-methods/{paymentMethodId}/default:
    $ref: './paths/billing.yaml#/paymentMethodsDefault'
  /credit-ledger:
    $ref: './paths/billing.yaml#/creditLedger'
  /domains:
    $ref: './paths/domains.yaml#/domains'
  /domains/{domainId}:
    $ref: './paths/domains.yaml#/domainsKey'
  /domains/{domainId}/propagation:
    $ref: './paths/domains.yaml#/domainsPropagation'
  /domains/{domainId}/dns:
    $ref: './paths/domains.yaml#/domainsDns'
  /domains/{domainId}/dns/records:
    $ref: './paths/domains.yaml#/domainsDnsRecords'
  /domains/{domainId}/dns/records/{recordId}:
    $ref: './paths/domains.yaml#/domainsDnsRecordsKey'
  /nodes/register:
    $ref: './paths/nodes.yaml#/register'
  /admin/servers:
    $ref: './paths/admin-infra.yaml#/servers'
  /admin/servers/{serverId}:
    $ref: './paths/admin-infra.yaml#/serversKey'
  /admin/servers/{serverId}/ips:
    $ref: './paths/admin-infra.yaml#/serverIps'
  /admin/servers/{serverId}/ips/{ipId}:
    $ref: './paths/admin-infra.yaml#/serverIpsKey'
  /admin/servers/{serverId}/plan-maps:
    $ref: './paths/admin-infra.yaml#/serverPlanMaps'
  /admin/servers/{serverId}/plan-maps/sync:
    $ref: './paths/admin-infra.yaml#/serverPlanMapsSync'
  /admin/servers/{serverId}/reconcile:
    $ref: './paths/admin-infra.yaml#/serverReconcile'
  /admin/provision-tasks:
    $ref: './paths/admin-infra.yaml#/provisionTasks'
  /admin/provision-tasks/{taskId}:
    $ref: './paths/admin-infra.yaml#/provisionTasksKey'
  /admin/provision-tasks/{taskId}/retry:
    $ref: './paths/admin-infra.yaml#/provisionTasksRetry'
  /admin/reconciliation/findings:
    $ref: './paths/admin-infra.yaml#/reconFindings'
  /admin/reconciliation/findings/{findingId}/resolve:
    $ref: './paths/admin-infra.yaml#/reconFindingsResolve'
  /admin/auth/login:
    $ref: './paths/admin.yaml#/login'
  /admin/auth/login/challenge:
    $ref: './paths/admin.yaml#/loginChallenge'
  /admin/auth/logout:
    $ref: './paths/admin.yaml#/logout'
  /admin/auth/me:
    $ref: './paths/admin.yaml#/me'
  /admin/auth/totp/setup:
    $ref: './paths/admin.yaml#/totpSetup'
  /admin/auth/totp/confirm:
    $ref: './paths/admin.yaml#/totpConfirm'
  /admin/auth/totp/recovery-codes:
    $ref: './paths/admin.yaml#/totpRecoveryCodes'
  /admin/accounts/{id}/credit:
    $ref: './paths/admin.yaml#/accountsCredit'
  /admin/settings:
    $ref: './paths/admin.yaml#/settings'
  /admin/settings/{key}:
    $ref: './paths/admin.yaml#/settingsKey'
  /admin/catalog/products:
    $ref: './paths/admin-catalog.yaml#/products'
  /admin/catalog/products/{id}:
    $ref: './paths/admin-catalog.yaml#/productsKey'
  /admin/catalog/plans:
    $ref: './paths/admin-catalog.yaml#/plans'
  /admin/catalog/plans/{id}:
    $ref: './paths/admin-catalog.yaml#/plansKey'
  /admin/catalog/addons:
    $ref: './paths/admin-catalog.yaml#/addons'
  /admin/catalog/addons/{id}:
    $ref: './paths/admin-catalog.yaml#/addonsKey'
  /admin/catalog/coupons:
    $ref: './paths/admin-catalog.yaml#/coupons'
  /admin/catalog/coupons/{id}:
    $ref: './paths/admin-catalog.yaml#/couponsKey'
  # ── M8: customer legs (requests queue, GDPR, impersonation exchange) ──
  /auth/impersonate:
    $ref: './paths/auth.yaml#/impersonate'
  /requests:
    $ref: './paths/requests.yaml#/requests'
  /requests/migration:
    $ref: './paths/requests.yaml#/requestsMigration'
  /requests/domain-registration:
    $ref: './paths/requests.yaml#/requestsDomain'
  /requests/{request}/backup:
    $ref: './paths/requests.yaml#/requestsBackup'
  /accounts/{account}/export:
    $ref: './paths/gdpr.yaml#/accountsExport'
  /accounts/{account}/data-requests:
    $ref: './paths/gdpr.yaml#/accountsDataRequests'
  /accounts/{account}/data-requests/{dataRequest}/download:
    $ref: './paths/gdpr.yaml#/accountsDataRequestDownload'
  # ── M8: Admin v1 (§14) — admin hostname only (ADR-0004) ──
  /admin/dashboard:
    $ref: './paths/admin-ops.yaml#/dashboard'
  /admin/accounts:
    $ref: './paths/admin-ops.yaml#/accounts'
  /admin/accounts/{account}:
    $ref: './paths/admin-ops.yaml#/accountsKey'
  /admin/accounts/{account}/impersonate:
    $ref: './paths/admin-ops.yaml#/accountsImpersonate'
  /admin/orders:
    $ref: './paths/admin-ops.yaml#/orders'
  /admin/orders/{order}:
    $ref: './paths/admin-ops.yaml#/ordersKey'
  /admin/fraud-reviews:
    $ref: './paths/admin-ops.yaml#/fraudReviews'
  /admin/fraud-reviews/{review}/approve:
    $ref: './paths/admin-ops.yaml#/fraudApprove'
  /admin/fraud-reviews/{review}/reject:
    $ref: './paths/admin-ops.yaml#/fraudReject'
  /admin/services:
    $ref: './paths/admin-ops.yaml#/services'
  /admin/services/{service}:
    $ref: './paths/admin-ops.yaml#/servicesKey'
  /admin/services/{service}/suspend:
    $ref: './paths/admin-ops.yaml#/servicesSuspend'
  /admin/services/{service}/unsuspend:
    $ref: './paths/admin-ops.yaml#/servicesUnsuspend'
  /admin/services/{service}/terminate:
    $ref: './paths/admin-ops.yaml#/servicesTerminate'
  /admin/services/{service}/change-plan:
    $ref: './paths/admin-ops.yaml#/servicesChangePlan'
  /admin/services/{service}/pending-change:
    $ref: './paths/admin-ops.yaml#/servicesPendingChange'
  /admin/services/{service}/dunning:
    $ref: './paths/admin-ops.yaml#/servicesDunning'
  /admin/invoices:
    $ref: './paths/admin-ops.yaml#/invoices'
  /admin/invoices/{invoice}:
    $ref: './paths/admin-ops.yaml#/invoicesKey'
  /admin/invoices/{invoice}/taxdoc/resubmit:
    $ref: './paths/admin-ops.yaml#/invoicesTaxdocResubmit'
  /admin/payments:
    $ref: './paths/admin-ops.yaml#/payments'
  /admin/monitors:
    $ref: './paths/admin-ops.yaml#/monitors'
  /admin/incidents:
    $ref: './paths/admin-ops.yaml#/incidents'
  /admin/incidents/{incident}:
    $ref: './paths/admin-ops.yaml#/incidentsKey'
  /admin/maintenance-windows:
    $ref: './paths/admin-ops.yaml#/maintenanceWindows'
  /admin/maintenance-windows/{window}:
    $ref: './paths/admin-ops.yaml#/maintenanceWindowsKey'
  /admin/maintenance-windows/{window}/notify:
    $ref: './paths/admin-ops.yaml#/maintenanceWindowsNotify'
  /admin/requests:
    $ref: './paths/admin-ops.yaml#/requests'
  /admin/requests/{request}:
    $ref: './paths/admin-ops.yaml#/requestsKey'
  /admin/announcements:
    $ref: './paths/admin-ops.yaml#/announcements'
  /admin/audit-logs:
    $ref: './paths/admin-ops.yaml#/auditLogs'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: bhc_session
      description: >
        Sanctum SPA session cookie. Obtain via GET /sanctum/csrf-cookie (out of
        contract scope) and send the X-XSRF-TOKEN header on mutating requests.
  schemas:
    Problem:
      $ref: './components/schemas.yaml#/Problem'
    ValidationProblem:
      $ref: './components/schemas.yaml#/ValidationProblem'
    User:
      $ref: './components/schemas.yaml#/User'
    Account:
      $ref: './components/schemas.yaml#/Account'
    Money:
      $ref: './components/schemas.yaml#/Money'
    AdminUser:
      $ref: './components/schemas.yaml#/AdminUser'
    TotpSetup:
      $ref: './components/schemas.yaml#/TotpSetup'
    LoginRequest:
      $ref: './components/schemas.yaml#/LoginRequest'
    TotpCodeRequest:
      $ref: './components/schemas.yaml#/TotpCodeRequest'
  responses:
    Unauthenticated:
      $ref: './components/responses.yaml#/Unauthenticated'
    Forbidden:
      $ref: './components/responses.yaml#/Forbidden'
    NotFound:
      $ref: './components/responses.yaml#/NotFound'
    ValidationFailed:
      $ref: './components/responses.yaml#/ValidationFailed'
    RateLimited:
      $ref: './components/responses.yaml#/RateLimited'
