openapi: 3.1.1
info:
  title: BitHosting Control Plane API
  version: 0.1.0
  summary: Contract-first API for bithosting.cloud (bhc-api)
  description: >
    OpenAPI 3.1 contract for the BitHosting control plane. The spec is the
    source of truth: bhc-api CI fails when routes drift from this document in
    either direction. M0 covers authentication (customer + admin, TOTP) and
    admin settings. Errors follow RFC 9457 application/problem+json with a
    stable `code` member.
  contact:
    name: Octobyte / Memoire Development E.E.
servers:
  - url: https://api.bithosting.cloud/api/v1
    description: Production
tags:
  - name: catalog
    description: Public catalog (pricing pages, checkout)
  - name: auth
    description: Customer authentication (portal SPA, session cookies)
  - name: accounts
    description: Customer accounts, tax profile, VIES
  - name: orders
    description: Checkout orders, proformas, payment
  - name: admin-auth
    description: Admin authentication — TOTP is mandatory
  - name: admin-settings
    description: Runtime settings (registry-gated, audited)
  - name: admin-catalog
    description: Catalog management (products, plans, addons, coupons — audited)
  - name: services
    description: Customer services — read + SSO only in v1 (M3)
  - name: domains
    description: Domains & DNS — zone status, propagation, guarded record editor (M4, §8)
  - name: admin-infra
    description: Servers, provisioning monitor, reconciliation (M3 — audited)
  - name: nodes
    description: Golden-node self-registration over WireGuard (spec §16)
security:
  - cookieAuth: []
paths:
  /catalog:
    $ref: './paths/catalog.yaml#/catalog'
  /auth/register:
    $ref: './paths/auth.yaml#/register'
  /auth/forgot-password:
    $ref: './paths/auth.yaml#/forgotPassword'
  /auth/reset-password:
    $ref: './paths/auth.yaml#/resetPassword'
  /auth/invites/accept:
    $ref: './paths/auth.yaml#/invitesAccept'
  /auth/login:
    $ref: './paths/auth.yaml#/login'
  /auth/login/challenge:
    $ref: './paths/auth.yaml#/loginChallenge'
  /auth/logout:
    $ref: './paths/auth.yaml#/logout'
  /auth/me:
    $ref: './paths/auth.yaml#/me'
  /auth/totp/setup:
    $ref: './paths/auth.yaml#/totpSetup'
  /auth/totp/confirm:
    $ref: './paths/auth.yaml#/totpConfirm'
  /auth/totp:
    $ref: './paths/auth.yaml#/totp'
  /auth/totp/recovery-codes:
    $ref: './paths/auth.yaml#/totpRecoveryCodes'
  /accounts:
    $ref: './paths/accounts.yaml#/index'
  /accounts/{accountId}:
    $ref: './paths/accounts.yaml#/show'
  /vies/check:
    $ref: './paths/accounts.yaml#/viesCheck'
  /accounts/{accountId}/members:
    $ref: './paths/accounts.yaml#/members'
  /accounts/{accountId}/members/{memberId}:
    $ref: './paths/accounts.yaml#/membersKey'
  /accounts/{accountId}/invites:
    $ref: './paths/accounts.yaml#/invites'
  /accounts/{accountId}/invites/{inviteId}:
    $ref: './paths/accounts.yaml#/invitesKey'
  /orders:
    $ref: './paths/orders.yaml#/orders'
  /orders/{orderId}:
    $ref: './paths/orders.yaml#/ordersKey'
  /orders/{orderId}/cancel:
    $ref: './paths/orders.yaml#/ordersCancel'
  /orders/{orderId}/checkout:
    $ref: './paths/orders.yaml#/ordersCheckout'
  /orders/{orderId}/checkout/confirm:
    $ref: './paths/orders.yaml#/ordersCheckoutConfirm'
  /webhooks/payments/{provider}:
    $ref: './paths/orders.yaml#/paymentWebhook'
  /services:
    $ref: './paths/services.yaml#/services'
  /services/{serviceId}:
    $ref: './paths/services.yaml#/servicesKey'
  /services/{serviceId}/sso:
    $ref: './paths/services.yaml#/servicesSso'
  /domains:
    $ref: './paths/domains.yaml#/domains'
  /domains/{domainId}:
    $ref: './paths/domains.yaml#/domainsKey'
  /domains/{domainId}/propagation:
    $ref: './paths/domains.yaml#/domainsPropagation'
  /domains/{domainId}/dns:
    $ref: './paths/domains.yaml#/domainsDns'
  /domains/{domainId}/dns/records:
    $ref: './paths/domains.yaml#/domainsDnsRecords'
  /domains/{domainId}/dns/records/{recordId}:
    $ref: './paths/domains.yaml#/domainsDnsRecordsKey'
  /nodes/register:
    $ref: './paths/nodes.yaml#/register'
  /admin/servers:
    $ref: './paths/admin-infra.yaml#/servers'
  /admin/servers/{serverId}:
    $ref: './paths/admin-infra.yaml#/serversKey'
  /admin/servers/{serverId}/ips:
    $ref: './paths/admin-infra.yaml#/serverIps'
  /admin/servers/{serverId}/ips/{ipId}:
    $ref: './paths/admin-infra.yaml#/serverIpsKey'
  /admin/servers/{serverId}/plan-maps:
    $ref: './paths/admin-infra.yaml#/serverPlanMaps'
  /admin/servers/{serverId}/plan-maps/sync:
    $ref: './paths/admin-infra.yaml#/serverPlanMapsSync'
  /admin/servers/{serverId}/reconcile:
    $ref: './paths/admin-infra.yaml#/serverReconcile'
  /admin/provision-tasks:
    $ref: './paths/admin-infra.yaml#/provisionTasks'
  /admin/provision-tasks/{taskId}:
    $ref: './paths/admin-infra.yaml#/provisionTasksKey'
  /admin/provision-tasks/{taskId}/retry:
    $ref: './paths/admin-infra.yaml#/provisionTasksRetry'
  /admin/reconciliation/findings:
    $ref: './paths/admin-infra.yaml#/reconFindings'
  /admin/reconciliation/findings/{findingId}/resolve:
    $ref: './paths/admin-infra.yaml#/reconFindingsResolve'
  /admin/auth/login:
    $ref: './paths/admin.yaml#/login'
  /admin/auth/login/challenge:
    $ref: './paths/admin.yaml#/loginChallenge'
  /admin/auth/logout:
    $ref: './paths/admin.yaml#/logout'
  /admin/auth/me:
    $ref: './paths/admin.yaml#/me'
  /admin/auth/totp/setup:
    $ref: './paths/admin.yaml#/totpSetup'
  /admin/auth/totp/confirm:
    $ref: './paths/admin.yaml#/totpConfirm'
  /admin/auth/totp/recovery-codes:
    $ref: './paths/admin.yaml#/totpRecoveryCodes'
  /admin/accounts/{id}/credit:
    $ref: './paths/admin.yaml#/accountsCredit'
  /admin/settings:
    $ref: './paths/admin.yaml#/settings'
  /admin/settings/{key}:
    $ref: './paths/admin.yaml#/settingsKey'
  /admin/catalog/products:
    $ref: './paths/admin-catalog.yaml#/products'
  /admin/catalog/products/{id}:
    $ref: './paths/admin-catalog.yaml#/productsKey'
  /admin/catalog/plans:
    $ref: './paths/admin-catalog.yaml#/plans'
  /admin/catalog/plans/{id}:
    $ref: './paths/admin-catalog.yaml#/plansKey'
  /admin/catalog/addons:
    $ref: './paths/admin-catalog.yaml#/addons'
  /admin/catalog/addons/{id}:
    $ref: './paths/admin-catalog.yaml#/addonsKey'
  /admin/catalog/coupons:
    $ref: './paths/admin-catalog.yaml#/coupons'
  /admin/catalog/coupons/{id}:
    $ref: './paths/admin-catalog.yaml#/couponsKey'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: bhc_session
      description: >
        Sanctum SPA session cookie. Obtain via GET /sanctum/csrf-cookie (out of
        contract scope) and send the X-XSRF-TOKEN header on mutating requests.
  schemas:
    Problem:
      $ref: './components/schemas.yaml#/Problem'
    ValidationProblem:
      $ref: './components/schemas.yaml#/ValidationProblem'
    User:
      $ref: './components/schemas.yaml#/User'
    Account:
      $ref: './components/schemas.yaml#/Account'
    Money:
      $ref: './components/schemas.yaml#/Money'
    AdminUser:
      $ref: './components/schemas.yaml#/AdminUser'
    TotpSetup:
      $ref: './components/schemas.yaml#/TotpSetup'
    LoginRequest:
      $ref: './components/schemas.yaml#/LoginRequest'
    TotpCodeRequest:
      $ref: './components/schemas.yaml#/TotpCodeRequest'
  responses:
    Unauthenticated:
      $ref: './components/responses.yaml#/Unauthenticated'
    Forbidden:
      $ref: './components/responses.yaml#/Forbidden'
    NotFound:
      $ref: './components/responses.yaml#/NotFound'
    ValidationFailed:
      $ref: './components/responses.yaml#/ValidationFailed'
    RateLimited:
      $ref: './components/responses.yaml#/RateLimited'
