{
  "openapi": "3.1.1",
  "info": {
    "title": "BitHosting Control Plane API",
    "version": "0.1.0",
    "summary": "Contract-first API for bithosting.cloud (bhc-api)",
    "description": "OpenAPI 3.1 contract for the BitHosting control plane. The spec is the source of truth: bhc-api CI fails when routes drift from this document in either direction. M0 covers authentication (customer + admin, TOTP) and admin settings. Errors follow RFC 9457 application/problem+json with a stable `code` member.\n",
    "contact": {
      "name": "Octobyte / Memoire Development E.E."
    }
  },
  "servers": [
    {
      "url": "https://api.bithosting.cloud/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Customer authentication (portal SPA, session cookies)"
    },
    {
      "name": "accounts",
      "description": "Customer accounts, tax profile, VIES"
    },
    {
      "name": "admin-auth",
      "description": "Admin authentication — TOTP is mandatory"
    },
    {
      "name": "admin-settings",
      "description": "Runtime settings (registry-gated, audited)"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "tags": [
          "auth"
        ],
        "summary": "Register a customer (creates the user, their account, owner membership)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ],
                    "default": "individual"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Required when account_type is company."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered and logged in (session established).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "user",
                        "account"
                      ],
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "account": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "operationId": "auth.forgotPassword",
        "tags": [
          "auth"
        ],
        "summary": "Request a password reset link",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always generic — no account enumeration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "tags": [
          "auth"
        ],
        "summary": "Reset the password with an emailed token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "email",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password replaced; existing sessions dropped.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 1)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either the session is established (two_factor_required=false, user present) or a TOTP challenge is pending (two_factor_required=true).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean"
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login/challenge": {
      "post": {
        "operationId": "auth.loginChallenge",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 2 — TOTP code)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session established.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required",
                        "user"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean",
                          "const": false
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID (wrong/replayed code) or LOGIN_CHALLENGE_EXPIRED (no pending login / older than 5 minutes) or VALIDATION_FAILED.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "tags": [
          "auth"
        ],
        "summary": "Customer logout",
        "responses": {
          "204": {
            "description": "Session dropped (rotated, admin login unaffected)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "auth.me",
        "tags": [
          "auth"
        ],
        "summary": "Current customer",
        "responses": {
          "200": {
            "description": "The authenticated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/totp/setup": {
      "post": {
        "operationId": "auth.totpSetup",
        "tags": [
          "auth"
        ],
        "summary": "Begin TOTP enrollment",
        "responses": {
          "200": {
            "description": "Pending secret generated (not yet enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TotpSetup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/auth/totp/confirm": {
      "post": {
        "operationId": "auth.totpConfirm",
        "tags": [
          "auth"
        ],
        "summary": "Confirm TOTP enrollment with a live code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "totp_enabled"
                      ],
                      "properties": {
                        "totp_enabled": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/totp": {
      "delete": {
        "operationId": "auth.totpDisable",
        "tags": [
          "auth"
        ],
        "summary": "Disable TOTP (customers only — requires password + current code)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "TOTP disabled; secret discarded."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED (wrong password).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "accounts.index",
        "tags": [
          "accounts"
        ],
        "summary": "My account memberships",
        "responses": {
          "200": {
            "description": "Accounts the current user belongs to, with their role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "role",
                          "account"
                        ],
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "admin",
                              "billing",
                              "tech"
                            ]
                          },
                          "accepted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "account": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "accounts.show",
        "tags": [
          "accounts"
        ],
        "summary": "Account details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "The account (members only).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "accounts.update",
        "tags": [
          "accounts"
        ],
        "summary": "Update billing details / tax profile (owner, admin or billing role)",
        "description": "Saving a VAT number for an EU country triggers a VIES validation and recomputes tax_treatment (GR → gr_standard; EU + valid VIES → eu_reverse; EU without valid VIES → gr_standard; anything else → non_eu). When VIES is unreachable the profile still saves with vies_valid=null.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ]
                  },
                  "address_line1": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "address_line2": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "postal_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "country": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO 3166-1 alpha-2."
                  },
                  "vat_number": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account with recomputed tax fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/vies/check": {
      "post": {
        "operationId": "vies.check",
        "tags": [
          "accounts"
        ],
        "summary": "Validate an EU VAT number against VIES (cached with TTL)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "vat_number"
                ],
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 EU member state (GR maps to VIES EL)."
                  },
                  "vat_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VIES verdict (served from cache inside the TTL).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "valid",
                        "checked_at"
                      ],
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "address": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "checked_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "VIES_UNAVAILABLE — the EU service did not answer.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auth/login": {
      "post": {
        "operationId": "admin.auth.login",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin login (step 1) — no remember-me",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrolled admins get two_factor_required=true (challenge next). Unenrolled admins are logged in with totp_enrollment_required=true and can only reach the enrollment endpoints.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean"
                        },
                        "totp_enrollment_required": {
                          "type": "boolean"
                        },
                        "admin": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/auth/login/challenge": {
      "post": {
        "operationId": "admin.auth.loginChallenge",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin login (step 2 — TOTP code)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Admin session established.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required",
                        "admin"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean",
                          "const": false
                        },
                        "admin": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or LOGIN_CHALLENGE_EXPIRED or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/auth/logout": {
      "post": {
        "operationId": "admin.auth.logout",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin logout",
        "responses": {
          "204": {
            "description": "Admin session dropped (customer login unaffected)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/admin/auth/me": {
      "get": {
        "operationId": "admin.auth.me",
        "tags": [
          "admin-auth"
        ],
        "summary": "Current admin",
        "responses": {
          "200": {
            "description": "The authenticated admin.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminUser"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/admin/auth/totp/setup": {
      "post": {
        "operationId": "admin.auth.totpSetup",
        "tags": [
          "admin-auth"
        ],
        "summary": "Begin mandatory TOTP enrollment",
        "responses": {
          "200": {
            "description": "Pending secret generated (not yet enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TotpSetup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auth/totp/confirm": {
      "post": {
        "operationId": "admin.auth.totpConfirm",
        "tags": [
          "admin-auth"
        ],
        "summary": "Confirm TOTP enrollment (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled; the admin gate opens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "totp_enabled"
                      ],
                      "properties": {
                        "totp_enabled": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/settings": {
      "get": {
        "operationId": "admin.settings.index",
        "tags": [
          "admin-settings"
        ],
        "summary": "List registry settings with resolved values",
        "responses": {
          "200": {
            "description": "Registry keys mapped to their effective values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/admin/settings/{key}": {
      "put": {
        "operationId": "admin.settings.update",
        "tags": [
          "admin-settings"
        ],
        "summary": "Update a registered setting (audited admin mutation)",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registry key, e.g. platform.default_locale."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "description": "Validated against the key's registry rules."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored value after the write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "key",
                        "value"
                      ],
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "bhc_session",
        "description": "Sanctum SPA session cookie. Obtain via GET /sanctum/csrf-cookie (out of contract scope) and send the X-XSRF-TOKEN header on mutating requests.\n"
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem details with a stable machine-readable `code`.",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "instance"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "examples": [
              "https://api.bithosting.cloud/problems/not-found"
            ]
          },
          "title": {
            "type": "string",
            "description": "Localized (el default, en via Accept-Language)."
          },
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string",
            "description": "Stable UPPER_SNAKE error code.",
            "examples": [
              "NOT_FOUND"
            ]
          },
          "instance": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ValidationProblem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Problem"
          },
          {
            "type": "object",
            "required": [
              "errors"
            ],
            "properties": {
              "errors": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "locale",
          "totp_enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "locale": {
            "type": "string",
            "enum": [
              "el",
              "en"
            ]
          },
          "totp_enabled": {
            "type": "boolean"
          },
          "last_login_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "balance"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "company"
            ]
          },
          "address_line1": {
            "type": [
              "string",
              "null"
            ]
          },
          "address_line2": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2."
          },
          "vat_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "vies_valid": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "vies_checked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tax_treatment": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "gr_standard",
              "eu_reverse",
              "non_eu",
              null
            ]
          },
          "balance": {
            "$ref": "#/components/schemas/Money"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Money": {
        "type": "object",
        "description": "Spec §3.3 — integer minor units, EUR only in v1.",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Cents."
          },
          "currency": {
            "type": "string",
            "const": "EUR"
          }
        }
      },
      "AdminUser": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "totp_enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "description": "Role key (e.g. super_admin)."
          },
          "totp_enabled": {
            "type": "boolean"
          },
          "last_login_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TotpSetup": {
        "type": "object",
        "required": [
          "secret",
          "otpauth_uri"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "Base32 TOTP secret (shown once; SPA renders the QR)."
          },
          "otpauth_uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "remember": {
            "type": "boolean",
            "description": "Ignored on the admin surface (admins get no remember-me)."
          }
        }
      },
      "TotpCodeRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "pattern": "^[0-9]{6}$"
          }
        }
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Not authenticated (code UNAUTHENTICATED).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Denied (code FORBIDDEN) — or ADMIN_TOTP_ENROLLMENT_REQUIRED when an unenrolled admin touches a gated admin route.\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found (code NOT_FOUND).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "Validation failed (code VALIDATION_FAILED) — also used for bad credentials (errors.email). Domain TOTP failures use codes TOTP_INVALID or LOGIN_CHALLENGE_EXPIRED with the plain Problem shape.\n",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationProblem"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Throttled (code RATE_LIMITED); Retry-After header present.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until the bucket refills."
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      }
    },
    "parameters": {
      "components-accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    }
  }
}