{
  "openapi": "3.1.1",
  "info": {
    "title": "BitHosting Control Plane API",
    "version": "0.1.0",
    "summary": "Contract-first API for bithosting.cloud (bhc-api)",
    "description": "OpenAPI 3.1 contract for the BitHosting control plane. The spec is the source of truth: bhc-api CI fails when routes drift from this document in either direction. M0 covers authentication (customer + admin, TOTP) and admin settings. Errors follow RFC 9457 application/problem+json with a stable `code` member.\n",
    "contact": {
      "name": "Octobyte / Memoire Development E.E."
    }
  },
  "servers": [
    {
      "url": "https://api.bithosting.cloud/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "catalog",
      "description": "Public catalog (pricing pages, checkout)"
    },
    {
      "name": "auth",
      "description": "Customer authentication (portal SPA, session cookies)"
    },
    {
      "name": "accounts",
      "description": "Customer accounts, tax profile, VIES"
    },
    {
      "name": "orders",
      "description": "Checkout orders, proformas, payment"
    },
    {
      "name": "admin-auth",
      "description": "Admin authentication — TOTP is mandatory"
    },
    {
      "name": "admin-settings",
      "description": "Runtime settings (registry-gated, audited)"
    },
    {
      "name": "admin-catalog",
      "description": "Catalog management (products, plans, addons, coupons — audited)"
    }
  ],
  "paths": {
    "/catalog": {
      "get": {
        "operationId": "catalog.index",
        "tags": [
          "catalog"
        ],
        "summary": "Public catalog tree (active products, plans, addons)",
        "description": "Names are resolved to the request locale (Accept-Language, el default) and also returned in full under name_i18n. Prices use the Money shape. Plan config is whitelisted — provisioning internals never appear here.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Products with plans and prices, plus addons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "products",
                        "addons"
                      ],
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "key",
                              "name",
                              "name_i18n",
                              "plans"
                            ],
                            "properties": {
                              "key": {
                                "type": "string",
                                "enum": [
                                  "shared",
                                  "wp",
                                  "woo",
                                  "vps",
                                  "erp"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_i18n": {
                                "$ref": "#/components/schemas/I18nName"
                              },
                              "plans": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "key",
                                    "name",
                                    "name_i18n",
                                    "specs",
                                    "prices"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "key": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "name_i18n": {
                                      "$ref": "#/components/schemas/I18nName"
                                    },
                                    "specs": {
                                      "type": "object",
                                      "description": "Whitelisted display attributes only.",
                                      "additionalProperties": true
                                    },
                                    "prices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "cycle",
                                          "price",
                                          "setup"
                                        ],
                                        "properties": {
                                          "cycle": {
                                            "type": "string",
                                            "enum": [
                                              "monthly",
                                              "annually"
                                            ]
                                          },
                                          "price": {
                                            "$ref": "#/components/schemas/Money"
                                          },
                                          "setup": {
                                            "$ref": "#/components/schemas/Money"
                                          },
                                          "compare_at": {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/Money"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "addons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "key",
                              "name",
                              "name_i18n",
                              "compatible_products",
                              "prices"
                            ],
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_i18n": {
                                "$ref": "#/components/schemas/I18nName"
                              },
                              "compatible_products": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cycle",
                                    "price"
                                  ],
                                  "properties": {
                                    "cycle": {
                                      "type": "string",
                                      "enum": [
                                        "monthly",
                                        "annually"
                                      ]
                                    },
                                    "price": {
                                      "$ref": "#/components/schemas/Money"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "tags": [
          "auth"
        ],
        "summary": "Register a customer (creates the user, their account, owner membership)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ],
                    "default": "individual"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Required when account_type is company."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered and logged in (session established).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "user",
                        "account"
                      ],
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "account": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "operationId": "auth.forgotPassword",
        "tags": [
          "auth"
        ],
        "summary": "Request a password reset link",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always generic — no account enumeration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "tags": [
          "auth"
        ],
        "summary": "Reset the password with an emailed token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "email",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password replaced; existing sessions dropped.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/invites/accept": {
      "post": {
        "operationId": "auth.invitesAccept",
        "tags": [
          "auth"
        ],
        "summary": "Accept a team invite token",
        "description": "Fresh (claim-invite) users must supply name + password; existing users accept with the token alone. Does not establish a session.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status",
                        "account"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "accepted"
                        },
                        "account": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "INVITE_INVALID (bad/expired/used token) or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 1)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either the session is established (two_factor_required=false, user present) or a TOTP challenge is pending (two_factor_required=true).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean"
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login/challenge": {
      "post": {
        "operationId": "auth.loginChallenge",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 2 — TOTP code)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session established.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required",
                        "user"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean",
                          "const": false
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID (wrong/replayed code) or LOGIN_CHALLENGE_EXPIRED (no pending login / older than 5 minutes) or VALIDATION_FAILED.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "tags": [
          "auth"
        ],
        "summary": "Customer logout",
        "responses": {
          "204": {
            "description": "Session dropped (rotated, admin login unaffected)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "auth.me",
        "tags": [
          "auth"
        ],
        "summary": "Current customer",
        "responses": {
          "200": {
            "description": "The authenticated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/totp/setup": {
      "post": {
        "operationId": "auth.totpSetup",
        "tags": [
          "auth"
        ],
        "summary": "Begin TOTP enrollment",
        "responses": {
          "200": {
            "description": "Pending secret generated (not yet enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TotpSetup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/auth/totp/confirm": {
      "post": {
        "operationId": "auth.totpConfirm",
        "tags": [
          "auth"
        ],
        "summary": "Confirm TOTP enrollment with a live code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled; recovery codes issued (shown once — v1.3).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "totp_enabled"
                          ],
                          "properties": {
                            "totp_enabled": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        {
                          "$ref": "#/components/schemas/RecoveryCodes"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/totp": {
      "delete": {
        "operationId": "auth.totpDisable",
        "tags": [
          "auth"
        ],
        "summary": "Disable TOTP (customers only — requires password + current code)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "TOTP disabled; secret discarded."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED (wrong password).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/totp/recovery-codes": {
      "post": {
        "operationId": "auth.totpRecoveryCodesRegenerate",
        "tags": [
          "auth"
        ],
        "summary": "Regenerate recovery codes (password + live TOTP; invalidates old set)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh set of 8 one-time codes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RecoveryCodes"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED (wrong password) or TOTP not enabled.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "accounts.index",
        "tags": [
          "accounts"
        ],
        "summary": "My account memberships",
        "responses": {
          "200": {
            "description": "Accounts the current user belongs to, with their role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "role",
                          "account"
                        ],
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "admin",
                              "billing",
                              "tech"
                            ]
                          },
                          "accepted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "account": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "accounts.show",
        "tags": [
          "accounts"
        ],
        "summary": "Account details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "The account (members only).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "accounts.update",
        "tags": [
          "accounts"
        ],
        "summary": "Update billing details / tax profile (owner, admin or billing role)",
        "description": "Saving a VAT number for an EU country triggers a VIES validation and recomputes tax_treatment (GR → gr_standard; EU + valid VIES → eu_reverse; EU without valid VIES → gr_standard; anything else → non_eu). When VIES is unreachable the profile still saves with vies_valid=null.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ]
                  },
                  "address_line1": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "address_line2": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "postal_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "country": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO 3166-1 alpha-2."
                  },
                  "vat_number": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account with recomputed tax fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/vies/check": {
      "post": {
        "operationId": "vies.check",
        "tags": [
          "accounts"
        ],
        "summary": "Validate an EU VAT number against VIES (cached with TTL)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "vat_number"
                ],
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 EU member state (GR maps to VIES EL)."
                  },
                  "vat_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VIES verdict (served from cache inside the TTL).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "valid",
                        "checked_at"
                      ],
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "address": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "checked_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "VIES_UNAVAILABLE — the EU service did not answer.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/members": {
      "get": {
        "operationId": "accounts.members.index",
        "tags": [
          "accounts"
        ],
        "summary": "Accepted team members",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Members with their role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountMember"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/{accountId}/members/{memberId}": {
      "delete": {
        "operationId": "accounts.members.remove",
        "tags": [
          "accounts"
        ],
        "summary": "Remove a member (owner/admin; owners cannot be removed)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/invites": {
      "get": {
        "operationId": "accounts.invites.index",
        "tags": [
          "accounts"
        ],
        "summary": "Pending invites",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invites not yet accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountInvite"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "accounts.invites.create",
        "tags": [
          "accounts"
        ],
        "summary": "Invite a person by email (owner/admin)",
        "description": "Creates a pending membership (accepted_at null) and emails a signed, TTL-bound token. Unknown emails get a claim-invite user (no password) that sets name+password on acceptance.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "billing",
                      "tech"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite created and email queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountInvite"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/accounts/{accountId}/invites/{inviteId}": {
      "delete": {
        "operationId": "accounts.invites.revoke",
        "tags": [
          "accounts"
        ],
        "summary": "Revoke a pending invite (owner/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite revoked."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "orders.create",
        "tags": [
          "orders"
        ],
        "summary": "Place an order (proforma issued immediately)",
        "description": "Requires an Idempotency-Key header (stored 24h — spec §3.3): replays return the original response. Totals are computed server-side with the §7 tax resolution, including the v1.3 VIES fallback. Coupons validate server-side; the redemption is recorded against the order.\n",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "items"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "plan_id",
                        "cycle"
                      ],
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "cycle": {
                          "type": "string",
                          "enum": [
                            "monthly",
                            "annually"
                          ]
                        },
                        "domain": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "addon_ids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  },
                  "coupon_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order placed; proforma issued (gapless PF series).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "VALIDATION_FAILED, IDEMPOTENCY_KEY_REQUIRED, or BILLING_PROFILE_INCOMPLETE (tax country missing).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "orders.show",
        "tags": [
          "orders"
        ],
        "summary": "Order details with its documents",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders/{orderId}/cancel": {
      "post": {
        "operationId": "orders.cancel",
        "tags": [
          "orders"
        ],
        "summary": "Cancel a pending order (voids the proforma, frees the coupon)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "ORDER_NOT_CANCELLABLE — payment already recorded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auth/login": {
      "post": {
        "operationId": "admin.auth.login",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin login (step 1) — no remember-me",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrolled admins get two_factor_required=true (challenge next). Unenrolled admins are logged in with totp_enrollment_required=true and can only reach the enrollment endpoints.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean"
                        },
                        "totp_enrollment_required": {
                          "type": "boolean"
                        },
                        "admin": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/auth/login/challenge": {
      "post": {
        "operationId": "admin.auth.loginChallenge",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin login (step 2 — TOTP code)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Admin session established.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required",
                        "admin"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean",
                          "const": false
                        },
                        "admin": {
                          "$ref": "#/components/schemas/AdminUser"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or LOGIN_CHALLENGE_EXPIRED or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/auth/logout": {
      "post": {
        "operationId": "admin.auth.logout",
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin logout",
        "responses": {
          "204": {
            "description": "Admin session dropped (customer login unaffected)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/admin/auth/me": {
      "get": {
        "operationId": "admin.auth.me",
        "tags": [
          "admin-auth"
        ],
        "summary": "Current admin",
        "responses": {
          "200": {
            "description": "The authenticated admin.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminUser"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/admin/auth/totp/setup": {
      "post": {
        "operationId": "admin.auth.totpSetup",
        "tags": [
          "admin-auth"
        ],
        "summary": "Begin mandatory TOTP enrollment",
        "responses": {
          "200": {
            "description": "Pending secret generated (not yet enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TotpSetup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auth/totp/confirm": {
      "post": {
        "operationId": "admin.auth.totpConfirm",
        "tags": [
          "admin-auth"
        ],
        "summary": "Confirm TOTP enrollment (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled; recovery codes issued (shown once — v1.3); the admin gate opens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "totp_enabled"
                          ],
                          "properties": {
                            "totp_enabled": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        {
                          "$ref": "#/components/schemas/RecoveryCodes"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/auth/totp/recovery-codes": {
      "post": {
        "operationId": "admin.auth.totpRecoveryCodesRegenerate",
        "tags": [
          "admin-auth"
        ],
        "summary": "Regenerate admin recovery codes (password + live TOTP)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh set of 8 one-time codes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RecoveryCodes"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/admin/settings": {
      "get": {
        "operationId": "admin.settings.index",
        "tags": [
          "admin-settings"
        ],
        "summary": "List registry settings with resolved values",
        "responses": {
          "200": {
            "description": "Registry keys mapped to their effective values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/admin/settings/{key}": {
      "put": {
        "operationId": "admin.settings.update",
        "tags": [
          "admin-settings"
        ],
        "summary": "Update a registered setting (audited admin mutation)",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Registry key, e.g. platform.default_locale."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "description": "Validated against the key's registry rules."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored value after the write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "key",
                        "value"
                      ],
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/catalog/products": {
      "get": {
        "operationId": "admin.catalog.products.index",
        "tags": [
          "admin-catalog"
        ],
        "summary": "List products (closed set, seeded)",
        "responses": {
          "200": {
            "description": "All five product families.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/admin/catalog/products/{id}": {
      "get": {
        "operationId": "admin.catalog.products.show",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Product with its plans",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "200": {
            "description": "The product, plans included.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminProduct"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "admin.catalog.products.update",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Update a product (name/active/provisioner — audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/I18nName"
                  },
                  "provisioner": {
                    "type": "string",
                    "enum": [
                      "plesk",
                      "hetzner_cloud",
                      "manual"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated product.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminProduct"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/catalog/plans": {
      "get": {
        "operationId": "admin.catalog.plans.index",
        "tags": [
          "admin-catalog"
        ],
        "summary": "List plans with prices",
        "responses": {
          "200": {
            "description": "All plans.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminPlan"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "admin.catalog.plans.create",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Create a plan with its prices (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminPlanWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created plan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminPlan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/catalog/plans/{id}": {
      "get": {
        "operationId": "admin.catalog.plans.show",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Plan details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "200": {
            "description": "The plan with prices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminPlan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "admin.catalog.plans.update",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Update a plan; prices are synced by cycle (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminPlanWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated plan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminPlan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "admin.catalog.plans.delete",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Delete a plan (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/admin/catalog/addons": {
      "get": {
        "operationId": "admin.catalog.addons.index",
        "tags": [
          "admin-catalog"
        ],
        "summary": "List addons with prices",
        "responses": {
          "200": {
            "description": "All addons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminAddon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "admin.catalog.addons.create",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Create an addon (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAddonWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created addon.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminAddon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/catalog/addons/{id}": {
      "get": {
        "operationId": "admin.catalog.addons.show",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Addon details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "200": {
            "description": "The addon with prices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminAddon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "admin.catalog.addons.update",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Update an addon; prices synced by cycle (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAddonWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated addon.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminAddon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "admin.catalog.addons.delete",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Delete an addon (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/admin/catalog/coupons": {
      "get": {
        "operationId": "admin.catalog.coupons.index",
        "tags": [
          "admin-catalog"
        ],
        "summary": "List coupons (cursor-paginated, spec §3.3)",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of coupons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminCoupon"
                      }
                    },
                    "links": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "admin.catalog.coupons.create",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Create a coupon (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCouponWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created coupon.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminCoupon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/catalog/coupons/{id}": {
      "get": {
        "operationId": "admin.catalog.coupons.show",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Coupon details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "200": {
            "description": "The coupon.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminCoupon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "admin.catalog.coupons.update",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Update a coupon (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCouponWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated coupon.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminCoupon"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "admin.catalog.coupons.delete",
        "tags": [
          "admin-catalog"
        ],
        "summary": "Delete a coupon (audited)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "bhc_session",
        "description": "Sanctum SPA session cookie. Obtain via GET /sanctum/csrf-cookie (out of contract scope) and send the X-XSRF-TOKEN header on mutating requests.\n"
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem details with a stable machine-readable `code`.",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "instance"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "examples": [
              "https://api.bithosting.cloud/problems/not-found"
            ]
          },
          "title": {
            "type": "string",
            "description": "Localized (el default, en via Accept-Language)."
          },
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string",
            "description": "Stable UPPER_SNAKE error code.",
            "examples": [
              "NOT_FOUND"
            ]
          },
          "instance": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ValidationProblem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Problem"
          },
          {
            "type": "object",
            "required": [
              "errors"
            ],
            "properties": {
              "errors": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "locale",
          "totp_enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "locale": {
            "type": "string",
            "enum": [
              "el",
              "en"
            ]
          },
          "totp_enabled": {
            "type": "boolean"
          },
          "last_login_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "balance"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "company"
            ]
          },
          "address_line1": {
            "type": [
              "string",
              "null"
            ]
          },
          "address_line2": {
            "type": [
              "string",
              "null"
            ]
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2."
          },
          "vat_number": {
            "type": [
              "string",
              "null"
            ]
          },
          "vies_valid": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "vies_checked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "tax_treatment": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "gr_standard",
              "eu_reverse",
              "non_eu",
              null
            ]
          },
          "balance": {
            "$ref": "#/components/schemas/Money"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Money": {
        "type": "object",
        "description": "Spec §3.3 — integer minor units, EUR only in v1.",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Cents."
          },
          "currency": {
            "type": "string",
            "const": "EUR"
          }
        }
      },
      "AdminUser": {
        "type": "object",
        "required": [
          "id",
          "name",
          "email",
          "totp_enabled"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "description": "Role key (e.g. super_admin)."
          },
          "totp_enabled": {
            "type": "boolean"
          },
          "last_login_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TotpSetup": {
        "type": "object",
        "required": [
          "secret",
          "otpauth_uri"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "Base32 TOTP secret (shown once; SPA renders the QR)."
          },
          "otpauth_uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "remember": {
            "type": "boolean",
            "description": "Ignored on the admin surface (admins get no remember-me)."
          }
        }
      },
      "TotpCodeRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 6,
            "maxLength": 21,
            "description": "6-digit TOTP code — or, on the login challenge, a one-time recovery code (v1.3). Recovery codes are consumed on use.\n"
          }
        }
      },
      "I18nName": {
        "type": "object",
        "description": "Per-locale strings (spec §18).",
        "required": [
          "el",
          "en"
        ],
        "properties": {
          "el": {
            "type": "string"
          },
          "en": {
            "type": "string"
          }
        }
      },
      "RecoveryCodes": {
        "type": "object",
        "required": [
          "recovery_codes"
        ],
        "properties": {
          "recovery_codes": {
            "type": "array",
            "minItems": 8,
            "maxItems": 8,
            "description": "One-time codes, shown exactly once — store them safely.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccountMember": {
        "type": "object",
        "required": [
          "id",
          "role",
          "user"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "billing",
              "tech"
            ]
          },
          "accepted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "user": {
            "type": "object",
            "required": [
              "id",
              "name",
              "email"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          }
        }
      },
      "AccountInvite": {
        "type": "object",
        "required": [
          "id",
          "role",
          "email"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "billing",
              "tech"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "invited_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Totals": {
        "type": "object",
        "required": [
          "net",
          "vat",
          "gross"
        ],
        "properties": {
          "net": {
            "$ref": "#/components/schemas/Money"
          },
          "vat": {
            "$ref": "#/components/schemas/Money"
          },
          "gross": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "DocumentRef": {
        "type": "object",
        "description": "Lightweight reference to a billing document (proforma/invoice).",
        "required": [
          "id",
          "series",
          "number",
          "display_number",
          "type",
          "status",
          "totals"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "series": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "display_number": {
            "type": "string",
            "examples": [
              "PF-000001"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "invoice",
              "proforma"
[...]
