{
  "openapi": "3.1.1",
  "info": {
    "title": "BitHosting Control Plane API",
    "version": "0.1.0",
    "summary": "Contract-first API for bithosting.cloud (bhc-api)",
    "description": "OpenAPI 3.1 contract for the BitHosting control plane. The spec is the source of truth: bhc-api CI fails when routes drift from this document in either direction. M0 covers authentication (customer + admin, TOTP) and admin settings. Errors follow RFC 9457 application/problem+json with a stable `code` member.\n",
    "contact": {
      "name": "Octobyte / Memoire Development E.E."
    }
  },
  "servers": [
    {
      "url": "https://api.bithosting.cloud/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "catalog",
      "description": "Public catalog (pricing pages, checkout)"
    },
    {
      "name": "auth",
      "description": "Customer authentication (portal SPA, session cookies)"
    },
    {
      "name": "accounts",
      "description": "Customer accounts, tax profile, VIES"
    },
    {
      "name": "orders",
      "description": "Checkout orders, proformas, payment"
    },
    {
      "name": "admin-auth",
      "description": "Admin authentication — TOTP is mandatory"
    },
    {
      "name": "admin-settings",
      "description": "Runtime settings (registry-gated, audited)"
    },
    {
      "name": "admin-catalog",
      "description": "Catalog management (products, plans, addons, coupons — audited)"
    },
    {
      "name": "services",
      "description": "Customer services — read + SSO only in v1 (M3)"
    },
    {
      "name": "domains",
      "description": "Domains & DNS — zone status, propagation, guarded record editor (M4, §8)"
    },
    {
      "name": "admin-infra",
      "description": "Servers, provisioning monitor, reconciliation (M3 — audited)"
    },
    {
      "name": "nodes",
      "description": "Golden-node self-registration over WireGuard (spec §16)"
    }
  ],
  "paths": {
    "/catalog": {
      "get": {
        "operationId": "catalog.index",
        "tags": [
          "catalog"
        ],
        "summary": "Public catalog tree (active products, plans, addons)",
        "description": "Names are resolved to the request locale (Accept-Language, el default) and also returned in full under name_i18n. Prices use the Money shape. Plan config is whitelisted — provisioning internals never appear here.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Products with plans and prices, plus addons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "products",
                        "addons"
                      ],
                      "properties": {
                        "products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "key",
                              "name",
                              "name_i18n",
                              "plans"
                            ],
                            "properties": {
                              "key": {
                                "type": "string",
                                "enum": [
                                  "shared",
                                  "wp",
                                  "woo",
                                  "vps",
                                  "erp"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_i18n": {
                                "$ref": "#/components/schemas/I18nName"
                              },
                              "plans": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "key",
                                    "name",
                                    "name_i18n",
                                    "specs",
                                    "prices"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "key": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "name_i18n": {
                                      "$ref": "#/components/schemas/I18nName"
                                    },
                                    "specs": {
                                      "type": "object",
                                      "description": "Whitelisted display attributes only.",
                                      "additionalProperties": true
                                    },
                                    "prices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "required": [
                                          "cycle",
                                          "price",
                                          "setup"
                                        ],
                                        "properties": {
                                          "cycle": {
                                            "type": "string",
                                            "enum": [
                                              "monthly",
                                              "annually"
                                            ]
                                          },
                                          "price": {
                                            "$ref": "#/components/schemas/Money"
                                          },
                                          "setup": {
                                            "$ref": "#/components/schemas/Money"
                                          },
                                          "compare_at": {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/Money"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "addons": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "key",
                              "name",
                              "name_i18n",
                              "compatible_products",
                              "prices"
                            ],
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "name_i18n": {
                                "$ref": "#/components/schemas/I18nName"
                              },
                              "compatible_products": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "prices": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "cycle",
                                    "price"
                                  ],
                                  "properties": {
                                    "cycle": {
                                      "type": "string",
                                      "enum": [
                                        "monthly",
                                        "annually"
                                      ]
                                    },
                                    "price": {
                                      "$ref": "#/components/schemas/Money"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "auth.register",
        "tags": [
          "auth"
        ],
        "summary": "Register a customer (creates the user, their account, owner membership)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ],
                    "default": "individual"
                  },
                  "company_name": {
                    "type": "string",
                    "description": "Required when account_type is company."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registered and logged in (session established).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "user",
                        "account"
                      ],
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "account": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "operationId": "auth.forgotPassword",
        "tags": [
          "auth"
        ],
        "summary": "Request a password reset link",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always generic — no account enumeration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "auth.resetPassword",
        "tags": [
          "auth"
        ],
        "summary": "Reset the password with an emailed token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "email",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password replaced; existing sessions dropped.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "ok"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/invites/accept": {
      "post": {
        "operationId": "auth.invitesAccept",
        "tags": [
          "auth"
        ],
        "summary": "Accept a team invite token",
        "description": "Fresh (claim-invite) users must supply name + password; existing users accept with the token alone. Does not establish a session.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status",
                        "account"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "const": "accepted"
                        },
                        "account": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "INVITE_INVALID (bad/expired/used token) or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "auth.login",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 1)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Either the session is established (two_factor_required=false, user present) or a TOTP challenge is pending (two_factor_required=true).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean"
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/login/challenge": {
      "post": {
        "operationId": "auth.loginChallenge",
        "tags": [
          "auth"
        ],
        "summary": "Customer login (step 2 — TOTP code)",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session established.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "two_factor_required",
                        "user"
                      ],
                      "properties": {
                        "two_factor_required": {
                          "type": "boolean",
                          "const": false
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID (wrong/replayed code) or LOGIN_CHALLENGE_EXPIRED (no pending login / older than 5 minutes) or VALIDATION_FAILED.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "auth.logout",
        "tags": [
          "auth"
        ],
        "summary": "Customer logout",
        "responses": {
          "204": {
            "description": "Session dropped (rotated, admin login unaffected)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "auth.me",
        "tags": [
          "auth"
        ],
        "summary": "Current customer",
        "responses": {
          "200": {
            "description": "The authenticated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/auth/totp/setup": {
      "post": {
        "operationId": "auth.totpSetup",
        "tags": [
          "auth"
        ],
        "summary": "Begin TOTP enrollment",
        "responses": {
          "200": {
            "description": "Pending secret generated (not yet enabled).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TotpSetup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/auth/totp/confirm": {
      "post": {
        "operationId": "auth.totpConfirm",
        "tags": [
          "auth"
        ],
        "summary": "Confirm TOTP enrollment with a live code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TOTP enabled; recovery codes issued (shown once — v1.3).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "totp_enabled"
                          ],
                          "properties": {
                            "totp_enabled": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        },
                        {
                          "$ref": "#/components/schemas/RecoveryCodes"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "409": {
            "description": "TOTP_ALREADY_ENABLED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/totp": {
      "delete": {
        "operationId": "auth.totpDisable",
        "tags": [
          "auth"
        ],
        "summary": "Disable TOTP (customers only — requires password + current code)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "TOTP disabled; secret discarded."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED (wrong password).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/auth/totp/recovery-codes": {
      "post": {
        "operationId": "auth.totpRecoveryCodesRegenerate",
        "tags": [
          "auth"
        ],
        "summary": "Regenerate recovery codes (password + live TOTP; invalidates old set)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password",
                  "code"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh set of 8 one-time codes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RecoveryCodes"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "TOTP_INVALID or VALIDATION_FAILED (wrong password) or TOTP not enabled.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "operationId": "accounts.index",
        "tags": [
          "accounts"
        ],
        "summary": "My account memberships",
        "responses": {
          "200": {
            "description": "Accounts the current user belongs to, with their role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "role",
                          "account"
                        ],
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "admin",
                              "billing",
                              "tech"
                            ]
                          },
                          "accepted_at": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "account": {
                            "$ref": "#/components/schemas/Account"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "accounts.show",
        "tags": [
          "accounts"
        ],
        "summary": "Account details",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "The account (members only).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "accounts.update",
        "tags": [
          "accounts"
        ],
        "summary": "Update billing details / tax profile (owner, admin or billing role)",
        "description": "Saving a VAT number for an EU country triggers a VIES validation and recomputes tax_treatment (GR → gr_standard; EU + valid VIES → eu_reverse; EU without valid VIES → gr_standard; anything else → non_eu). When VIES is unreachable the profile still saves with vies_valid=null.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "company"
                    ]
                  },
                  "address_line1": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "address_line2": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "city": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "postal_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "country": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO 3166-1 alpha-2."
                  },
                  "vat_number": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account with recomputed tax fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/vies/check": {
      "post": {
        "operationId": "vies.check",
        "tags": [
          "accounts"
        ],
        "summary": "Validate an EU VAT number against VIES (cached with TTL)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "country",
                  "vat_number"
                ],
                "properties": {
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2 EU member state (GR maps to VIES EL)."
                  },
                  "vat_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VIES verdict (served from cache inside the TTL).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "valid",
                        "checked_at"
                      ],
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "address": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "checked_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "VIES_UNAVAILABLE — the EU service did not answer.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/members": {
      "get": {
        "operationId": "accounts.members.index",
        "tags": [
          "accounts"
        ],
        "summary": "Accepted team members",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Members with their role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountMember"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/{accountId}/members/{memberId}": {
      "delete": {
        "operationId": "accounts.members.remove",
        "tags": [
          "accounts"
        ],
        "summary": "Remove a member (owner/admin; owners cannot be removed)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/invites": {
      "get": {
        "operationId": "accounts.invites.index",
        "tags": [
          "accounts"
        ],
        "summary": "Pending invites",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invites not yet accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountInvite"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "accounts.invites.create",
        "tags": [
          "accounts"
        ],
        "summary": "Invite a person by email (owner/admin)",
        "description": "Creates a pending membership (accepted_at null) and emails a signed, TTL-bound token. Unknown emails get a claim-invite user (no password) that sets name+password on acceptance.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "billing",
                      "tech"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite created and email queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountInvite"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/accounts/{accountId}/invites/{inviteId}": {
      "delete": {
        "operationId": "accounts.invites.revoke",
        "tags": [
          "accounts"
        ],
        "summary": "Revoke a pending invite (owner/admin)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-accountId"
          },
          {
            "name": "inviteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Invite revoked."
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "orders.create",
        "tags": [
          "orders"
        ],
        "summary": "Place an order (proforma issued immediately)",
        "description": "Requires an Idempotency-Key header (stored 24h — spec §3.3): replays return the original response. Totals are computed server-side with the §7 tax resolution, including the v1.3 VIES fallback. Coupons validate server-side; the redemption is recorded against the order.\n",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_id",
                  "items"
                ],
                "properties": {
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "plan_id",
                        "cycle"
                      ],
                      "properties": {
                        "plan_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "cycle": {
                          "type": "string",
                          "enum": [
                            "monthly",
                            "annually"
                          ]
                        },
                        "domain": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "addon_ids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  },
                  "coupon_code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order placed; proforma issued (gapless PF series).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "VALIDATION_FAILED, IDEMPOTENCY_KEY_REQUIRED, or BILLING_PROFILE_INCOMPLETE (tax country missing).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "orders.show",
        "tags": [
          "orders"
        ],
        "summary": "Order details with its documents",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders/{orderId}/cancel": {
      "post": {
        "operationId": "orders.cancel",
        "tags": [
          "orders"
        ],
        "summary": "Cancel a pending order (voids the proforma, frees the coupon)",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "ORDER_NOT_CANCELLABLE — payment already recorded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/checkout": {
      "post": {
        "operationId": "orders.checkout",
        "tags": [
          "orders"
        ],
        "summary": "Create a payment session for a pending order",
        "description": "The single third-party call allowed inline (§3.1). Part A uses the fake gateway; Part B swaps Viva/Everypay behind the same contract.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/components-orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance is consumed first (§7). If it fully covers the proforma the order settles immediately (status=paid, no session); otherwise a gateway session is returned for the remainder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status",
                        "balance_applied"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "session",
                            "paid"
                          ]
                        },
                        "balance_applied": {
                          "$ref": "#/components/schemas/Money"
                        },
                        "session_id": {
                          "type": "string"
                        },
                        "redirect_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "ORDER_NOT_PAYABLE — not pending payment anymore.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/checkout/confirm": {
      "post": {
        "operationId": "orders.checkout.confirm",
        "tags": [
          "orders"
        ],
        "summary": "Verify a payment from the gateway return redirect",
        "description": "Lost-webhook safety net: the gateway redirects the customer back with a transaction reference (Viva: the `t` query param). The transaction is verified against the gateway API and settled from that truth. Idempotent — replays and races with the webhook are harmless.\n",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction_id"
                ],
                "properties": {
                  "transaction_id": {
                    "type": "string",
                    "maxLength": 64
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement outcome after verification.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "paid",
                            "pending"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/webhooks/payments/{provider}": {
      "get": {
        "operationId": "webhooks.payments.verify",
        "tags": [
          "orders"
        ],
        "summary": "Webhook endpoint verification handshake",
        "description": "Some gateways (Viva) verify a webhook URL with a GET request that must echo a provider-issued verification key. Responds only when {provider} is the active gateway and its driver supports the handshake; 404 otherwise. The response shape follows the provider's expectation (Viva: `{\"Key\": \"...\"}`).\n",
        "security": [],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fake",
                "viva",
                "everypay"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification key for the provider's handshake.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Key"
                  ],
                  "properties": {
                    "Key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown provider or handshake unsupported.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "webhooks.payments",
        "tags": [
          "orders"
        ],
        "summary": "Gateway payment callback (server-to-server)",
        "description": "Signature-verified per provider driver; deduplicated on the provider event id (§15.4). Always answers 200 for verified events — including replays — so gateways stop retrying.\n",
        "security": [],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fake",
                "viva",
                "everypay"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Provider-specific payload; normalized by the driver.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "processed",
                            "duplicate",
                            "ignored"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "WEBHOOK_INVALID — signature verification failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "services.index",
        "tags": [
          "services"
        ],
        "summary": "List the services of an account (member-gated)",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of services.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    },
                    "links": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/services/{serviceId}": {
      "get": {
        "operationId": "services.show",
        "tags": [
          "services"
        ],
        "summary": "Service detail with the provisioning timeline",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The service (timeline mirrors the account channel events).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/services/{serviceId}/sso": {
      "post": {
        "operationId": "services.sso",
        "tags": [
          "services"
        ],
        "summary": "Issue a one-time control-panel SSO link (short TTL, audited)",
        "description": "Target `panel` only in v1 (spec §5 ssoUrl); `wp_admin` and `console` arrive with M7. Each issuance is audit-logged against the actor.\n",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "enum": [
                      "panel"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived signed URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SsoLink"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Service is not in a state that can be entered (SERVICE_NOT_ACTIVE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/services/{serviceId}/change-plan": {
      "post": {
        "operationId": "services.changePlan",
        "tags": [
          "services"
        ],
        "summary": "Change the service plan — immediate upgrade or scheduled downgrade",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan_key"
                ],
                "properties": {
                  "plan_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgrade: the service already on the new plan (snapshot rewritten, next_due rolled). Downgrade: the service carrying pending_plan_change.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "description": "Payment failed or no usable method — ZERO state change (PAYMENT_FAILED).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Not active (SERVICE_NOT_ACTIVE — explicit for suspended/pending/ terminated alike), node cannot fit the new plan (NO_CAPACITY — clean block, zero state change) or plan incompatible (PLAN_NOT_COMPATIBLE).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/services/{serviceId}/change-plan/preview": {
      "get": {
        "operationId": "services.changePlan.preview",
        "tags": [
          "services"
        ],
        "summary": "Deterministic proration preview (the engine's numbers, pre-commit)",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "plan_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The exact amounts the change would produce today.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PlanChangePreview"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Not active (SERVICE_NOT_ACTIVE) or plan incompatible (PLAN_NOT_COMPATIBLE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/services/{serviceId}/change-plan/cancel": {
      "post": {
        "operationId": "services.changePlan.cancel",
        "tags": [
          "services"
        ],
        "summary": "Cancel a scheduled downgrade (until the J-7 invoice is issued)",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending change cleared; the renewal bills the old plan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Nothing pending (NO_PENDING_PLAN_CHANGE), locked past J-7 (PLAN_CHANGE_LOCKED) or not active (SERVICE_NOT_ACTIVE).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/services/{serviceId}/addons": {
      "post": {
        "operationId": "services.addons.store",
        "tags": [
          "services"
        ],
        "summary": "Mid-cycle addon purchase — prorated remainder invoiced now",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "addon_key"
                ],
                "properties": {
                  "addon_key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Addon active on the service; the snapshot records the FULL cycle price (renewals bill that, v1.4).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "description": "Payment failed — ZERO state change (PAYMENT_FAILED).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Not active (SERVICE_NOT_ACTIVE), already present (ADDON_ALREADY_PRESENT), incompatible (PLAN_NOT_COMPATIBLE) or no free dedicated IP (NO_CAPACITY).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "domains.index",
        "tags": [
          "domains"
        ],
        "summary": "List the domains of an account (member-gated)",
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of domains with their zone state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "links": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/domains/{domainId}": {
      "get": {
        "operationId": "domains.show",
        "tags": [
          "domains"
        ],
        "summary": "Domain detail — zone status, NS pair, conflicts (BYO wizard data)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The domain with its zone (attention_needed ⇒ conflicts listed).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/domains/{domainId}/propagation": {
      "get": {
        "operationId": "domains.propagation",
        "tags": [
          "domains"
        ],
        "summary": "Live NS propagation check (DoH lookup — the «Συνδέθηκε ✓» probe)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current NS as the world sees them vs the assigned pair.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PropagationStatus"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/domains/{domainId}/dns": {
      "get": {
        "operationId": "domains.dns.index",
        "tags": [
          "domains"
        ],
        "summary": "Zone records (cache; refresh=true pulls Cloudflare first)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records with the managed flag; synced_at dates the cache.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "synced_at"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DnsRecord"
                      }
                    },
                    "synced_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Zone not ready for record operations (ZONE_NOT_READY).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Cloudflare unreachable (DNS_PROVIDER_UNAVAILABLE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domainId}/dns/records": {
      "post": {
        "operationId": "domains.dns.records.store",
        "tags": [
          "domains"
        ],
        "summary": "Create a record (roles owner/admin/tech; audited; diff-applied)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The record as Cloudflare stored it; cache resynced. `warning` appears when an informed proxied choice lands outside the cert coverage on a strict zone (created anyway — never blocked).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DnsRecord"
                    },
                    "warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Zone not ready (ZONE_NOT_READY).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "Input validation (VALIDATION_FAILED) or the provider's own validator mirrored verbatim (DNS_PROVIDER_REJECTED).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Cloudflare unreachable (DNS_PROVIDER_UNAVAILABLE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domainId}/dns/records/{recordId}": {
      "put": {
        "operationId": "domains.dns.records.update",
        "tags": [
          "domains"
        ],
        "summary": "Update a record (managed records demand confirm=true)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DnsRecordInput"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "confirm": {
                        "type": "boolean",
                        "description": "Required true when touching a managed record."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated record; cache resynced. `warning` as on create.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DnsRecord"
                    },
                    "warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Managed record without confirm (MANAGED_RECORD_CONFIRM_REQUIRED), NS record (NS_RECORD_IMMUTABLE — zone authority is not a record) or zone not ready (ZONE_NOT_READY).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "422": {
            "description": "Input validation (VALIDATION_FAILED) or the provider's own validator mirrored verbatim (DNS_PROVIDER_REJECTED — the detail carries the provider reason).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Cloudflare unreachable (DNS_PROVIDER_UNAVAILABLE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "domains.dns.records.destroy",
        "tags": [
          "domains"
        ],
        "summary": "Delete a record (managed records demand confirm=true)",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted; cache resynced.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "deleted"
                      ],
                      "properties": {
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Managed record without confirm (MANAGED_RECORD_CONFIRM_REQUIRED) or NS record (NS_RECORD_IMMUTABLE).\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Cloudflare unreachable (DNS_PROVIDER_UNAVAILABLE).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/nodes/register": {
      "post": {
        "operationId": "nodes.register",
        "tags": [
          "nodes"
        ],
        "summary": "Node self-registration (bootstrap token, WG-only)",
        "description": "Authenticated by the per-provisioning bootstrap token — not a session. The node lands in `maintenance` status until an admin activates it; the posted Plesk API key is stored encrypted and never echoed back.\n",
        "security": [],
        "parameters": [
          {
            "name": "X-Node-Bootstrap-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeRegisterWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Server row created in maintenance status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminServer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/servers": {
      "get": {
        "operationId": "admin.infra.servers.index",
        "tags": [
          "admin-infra"
        ],
        "summary": "List servers (cursor-paginated)",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of servers with health and capacity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminServer"
                      }
                    },
                    "links": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "admin.infra.servers.create",
        "tags": [
          "admin-infra"
        ],
        "summary": "Register a server (audited)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminServerWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Server created (status defaults to maintenance).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminServer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/admin/servers/{serverId}": {
      "get": {
        "operationId": "admin.infra.servers.show",
        "tags": [
          "admin-infra"
        ],
        "summary": "Server detail (health, capacity, utilization)",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverId"
          }
        ],
        "responses": {
          "200": {
            "description": "The server.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AdminServer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "admin.infra.servers.update",
        "tags": [
          "admin-infra"
        ],
[...]
